.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
  }
  
  .text {
    color: #27537c;
    font-size: 48px;
    font-weight: 700;
  }
  
  .underline {
    width: 61px;
    height: 6px;
    background: #27537c;
    border-radius: 9px;
  }
  
  .inputs {
    display: flex;
    margin-top: 55px;
    flex-direction: column;
    gap: 25px;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%; /* Adjusted width */
    max-width: 480px; /* Add a max-width to prevent excessive stretching */
    background: #eaeaea;
    border-radius: 15px;
  }
  
  .input img {
    width: px;
    margin-right: 15px;
    margin-left: 15px;
    
  }
  
  .inputs input {
    flex: 1; /* Take up remaining space within the input field */
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #aa9b7d;
    font-size: 15px;
  }
  
  .forgot-password {
    margin-top: 27px;
    color: #797979;
    font-size: 15px;
    text-align: center;
  }
  
  .forgot-password span {
    color: #27537c;
    cursor: pointer;
  }
  
  .submit-container {
    display: flex;
    margin-top: 60px;
    align-items: center;
  }
  
  .submit {
    width: 60px;
    height: 25px;
    color: #fff;
    background: #27537c;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
    padding: 16px 32px;
    align-items: center;
  }
  
  .gray {
    background: #d1e3f3;
    color: rgb(13, 13, 13);
  }
  
  /* Authentication modal styles */
  .auth-container {
    position:static;
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .auth-box {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  