div {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

select {
  font-size: 16px;
  padding: 5px;
  margin-top: 20px;
}

.error {
  color: red;
  font-weight: bold;
}
