 filtering
.category-item {
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
}

.category-item h2 {
  margin-bottom: 10px;
}

.category-item ul {
  list-style-type: none;
  padding: 0;
}

.category-item li {
  margin-bottom: 10px;
}

.category-item button {
  background-color: #d1e3f3;;
  color: rgb(13, 13, 13);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.category-item button:hover {
  background-color: #27537c;
  color: white;
}

 
  .category-item {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
  }
  
  .category-item h2 {
    margin-bottom: 10px;
  }
  
  .category-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .category-item li {
    margin-bottom: 10px;
  }
  
  .category-item button {
    background-color: #d1e3f3;;
    color: rgb(13, 13, 13);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .category-item button:hover {
    background-color: #27537c;
    color: white;
  }
  
 main
