.search-container {
  display: flex;
  flex-grow: 1;
  margin: 0 150px;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 10px 10px 10px;
}

.search-container button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #d1e3f3;
  border-radius: 10px;
  color: rgb(13, 13, 13);
  cursor: pointer;
}

.search-container button:hover {
  background-color: #27537c;
  color: white;
}

.search-results {
  margin-top: 20px;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results li {
  margin: 10px 0;
}

.search-results {display: flex;
    flex-grow: 1;
    margin: 0 150px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
  }
  
  .search-container button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #d1e3f3;
    border-radius: 10px;
    color: rgb(13, 13, 13);
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #27537c;
    color: white;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .search-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-results li {
    margin: 10px 0;
  }

